@import reset.sass

!color_background = #ffffff
!color_text = #000000
!color_link = #444444
!color_secondary = #777777
!color_minor = #999999
!sidebar_width = 200px
!post_info_width = 140px

html, body
  :background-color = !color_background
  :color = !color_text
  :font
    :family Helvetica Neue, Arial, Helvetica, sans-serif
    :size 10pt

html
  :margin
    :right = !sidebar_width + 14
    :bottom 20px

@for !h_level from 1 through 6
  h#{!h_level}
    :font-size = 20pt - 1.4 * (!h_level - 1)

h1,h2,h3,h4,h5,h6
  :font-weight bolder
  :margin 0.5em 0
  a
    :color = !color_text
    :font-weight inherit
    :text-decoration inherit

a    
  :color = !color_link
  :text-decoration none
  &:hover
    :color = !color_text
    :text-decoration underline
  &:visited
    :color inherit
    &:hover
      :color = !color_link
  
  &.external
    //:background
    //  :image = "url(" + hostname("static") + "/images/ext_link.png)"
    //  :repeat no-repeat
    //  :position right top
    //:padding-right 11px  

  img
    :border-width 0

p, pre, ul, ol, blockquote, form
  :margin 5px 0

pre
  :overflow-x auto
  :font-size 11px

sup, sub
  :height 0
  :line-height 1
  :vertical-align baseline
  //:_vertical-align bottom
  :position relative

sub
  :top 0.5em

sup
  :bottom 0.5em
  a
    :font-weight normal !important
    :padding 0 1px

hr
  :height 0
  :margin 10px 0
  :border
    :style dotted
    :color #555555
    :width 1px 0 0 0
    
img
  :border none

blockquote
  :border-left = 2px "solid" !color_minor
  :padding 3px 15px

ul, ol, blockquote
  :margin-left 18px

ul
  :list-style-type disc
  ul
    :list-style-type circle
    ul
      :list-style-type square
ol
  :list-style-type decimal
  ol
    :list-style-type lower-alpha
    ol
      :list-style-type lower-roman
      
.hidden
  :display none
  
.clear
  :clear both
    
#title
  :text-align center
  :font-size 44pt
  :margin 25px 0 25px 0
  :padding
    :bottom 25px
    // to center the title over the photos instead of over #content
    :left = !post_info_width + 10
  :border-bottom = 1px "dotted" !color_secondary 
  img
    :margin 0
    
#sidebar
  :position absolute
  :top 0
  :right 0
  :width = !sidebar_width
  :padding 0 7px 
  :background-color = !color_background
  :z-index 0
  /*  
    a
      :color = !color_secondary
      &:hover
        :color = !color_text

  #search
    #q
      :background
        :color = !color_background
        :image = "url(" + hostname("static") + "/images/search_32.png)"
        :repeat no-repeat
        :position 2px 50%
      :color = !color_secondary
      :font-size 15px
      :height 15px
      :width = !sidebar_width - 24px - 4px
      :text-transform lowercase
      :border
        :style solid
        :color = !color_minor
        :width 1px
      :padding 4px 4px 4px 24px
      
  #description
    a
      :text-decoration underline

  #pages, #meta
    :margin 15px 0
        
    li
      :list-style none
      :margin-top 3px
      a
        :color = !color_link
        &:hover
          :color = !color_text
  #meta
    :font-size smaller
          
  #following, #likes_container
    :margin 15px 0
    h2
      :font-size inherit
    ul
      :list-style-type none
      :margin 5px 0
      :padding 0
      
  #following
    ul
      li
        :margin 3px 0
        a
          :padding 3px 
          :display block
          :background-color #dddddd
          :color = !color_text
          &:hover
            :text-decoration none
            :background-color = !color_minor
            :color = !color_text
            
  #likes_container
    ul#likes
      li.like_post
        :padding 5px 0
        :border-bottom = 1px "solid" !color_secondary

        img
          :max-width 100%

        blockquote
          :margin 0
          :padding 0 0 0 10px
          :border-left 1px solid #eee

        ol, ul
          :margin-left 15px
          :padding 0

        .like_link a, .like_title
          :font-weight bold

        .post_info_top
          :margin 0 0 5px 0 
          :font-size smaller
          :font-style oblique
          :display block !important
          
#content
  :width 500px
  :margin 0 auto
  :padding = 0 0 0 (!post_info_width + 10)
  
  #search_result_count
    :background-color #dddddd
    :font-size 12px
    :padding 3px
    :margin-bottom 25px
    .back
      :float right

  #posts
    :margin 0

    .post
      :margin 15px 0
      &.reblog
        

      img
        :max-width 100%
        
      > .info
        :position absolute
        :margin-left = -10 - !post_info_width
        :width = !post_info_width
        :font-size 8pt
        :text-align right
        :color = !color_secondary
        
        div
          :margin-bottom 6px
      
        a
          :text-decoration none
          // :white-space nowrap

          &:hover
            :color = !color_text
        
        .tags
          :line-height inherit
          ul
            :margin-left 0
            &, li
              :list-style none

      .reblog_info
        :font-size smaller
        :color = !color_secondary
        :margin-bottom 10px
        
      .text-post
        :text-align justify
        //:font-size smaller
        h3
          :margin-bottom 9px

      .link-post
        a
          :text-decoration none
        .link
          h1
            :margin 0
          a
            :color = !color_text
            &:hover
              :color = !color_link
              :text-decoration underline
            &:visited
              :color = !color_link
              
        .href
          :color = !color_secondary
          :font-size 8pt
          :background none
            
        .caption
          :margin-top 10px

      .photo-post
        .photo
          :text-align center
          // set relative position so the button's position zeroes with the .photo
          :position relative
          a
            img
          img
          .hover-info
            :text-align right
            :font-size smaller
            a
              :white-space nowrap
              :text-decoration underline
            // this class is set via js upon initialization of colorbox, so it fails nicely without javascript
            &.button
              :background-color black
              :border 1px white solid
              :padding 1px 5px 5px 5px
              :position absolute
              :bottom 0
              :right 0
              :margin
                :bottom 10px
                :right 10px
              :color white
              a
                :padding 10px 0 
                &, &:visited, &:hover
                  :color white
                &:hover
                  :font-weight bolder
                            
        .caption
          
      .quote-post
        blockquote
          :text-align-last right
          :text-align justify
          &.short, &.medium, &.long

        .source
          :margin-top 10px
          :text-align right
          cite 
            :font-size smaller
            :font-style italic
          
      .photoset-post
      
      .video-post
        
      .audio-post
        .info
          :color #888888
          :font-size smaller
          :border-bottom 1px solid #ccc
          :padding-bottom 5px
          :margin-bottom 10px
          dl
            :float left
            :margin 3px 0
            :padding 0
            :width 500px
            
            dd, dt
              :margin-bottom 2px
              
            dt
              :float left
              :clear left
              :font-weight bold
            dd
              :padding-left 75px
          
      .photo-post, .photoset-post, .video-post, .audio-post
        .caption
        
      .answer-post
        .icon
          :font-size 300%
          :position absolute
          :margin-left -50px
          
        .question
          .asker
            :text-align right
            cite
              :font-style normal
              a
                :text-decoration none
        .answer
          :clear both
          
      div.notes
        h2
          :font-size smaller
        ol
          :list-style none
          :margin-left 0
      
  #footer
    :margin 30px 0
    :text-align center
    #pagination
      :font-size 16px
      a.arrow_nav, a.nav
        :text-decoration none
      a.arrow_nav
        :font-size 160%

      #previous_page
      .status  
      #next_page
      
#credit
  :position fixed
  :bottom 0
  :right 0
  :z-index -999
  :padding 3px
  :background-color = !color_background
  :color = !color_minor
  :font-size 10px
  :text-align right
  
  a
    :color = !color_secondary
