@import _reset.sass

!color_background = #ffffff
!color_text = #000000
!color_minor = #bbbbbb
!color_secondary = #888888
!color_link = #666666

html, body
  :background-color = !color_background
  :color = !color_text
  :font
    :family Helvetica Neue, Arial, Helvetica, sans-serif
    :size 12pt

#content
  :position relative
  :width 500px
  :margin 0 auto
  :padding 1.5em 0.25em
  
#sidebar
  :position fixed
  :top 20px
  :right 20px
  :width 200px

h1
  :font-size 3em
  :line-height 1
  :padding 0.5em 0 1em
  :text-align center

  a
    :color = !color_text
    :padding 0 0.25em
    :font-weight bold

h2, h3
  :line-height 18pt

p, pre, ul, ol, blockquote, form
  :margin 9pt 0 18pt
  :line-height 18pt

blockquote
  :padding-left 1em
  :margin-left 2pt
  :border-left 0.25em solid = !color_minor

pre
  :overflow-x auto
  :font-size 11pt

sup, sub
  :height 0
  :line-height 1
  :vertical-align baseline
  :_vertical-align bottom
  :position relative

sup
  :bottom 0.5ex

sub
  :top 0.5ex

sup a
  :font-weight normal !important
  :padding 0 1px

hr
  :height 0
  :margin 0 0 18pt
  :border
    :style solid
    :color = !color_minor
    :width 2pt 0 0

#sidebar
  a
    :color = !color_secondary
    &:hover
      :color = !color_text

  #search
    #q
      :background
        :color = !color_background
        :image url(../images/search_32.png)
        :repeat no-repeat
        :position 2px 50%
      :color = !color_secondary
      :font-size 10pt
      :text-transform lowercase
      :border
        :style solid
        :color = !color_minor
        :width 1px
      :padding 4px 3px 4px 24px

  #meta
    :margin-top 10px
    :word-spacing 0.25em
    :font-size 10pt
    :text-transform uppercase

    a
      :color = !color_minor
      &:hover
        :color = !color_text

#posts
  :margin 0

.post
  :position relative
  :list-style none
  :margin-bottom 4.5em

  ul li
    :list-style square

  img
    :max-width 100%

.post-body
  h3
    :font-size 1.25em
    :position relative

  a
    :font-weight bold
    :color = !color_link
    :border-bottom 1px solid transparent

    &:hover
      :color = !color_text
      :border-bottom-color = !color_minor

  .image a
    :border-width 0

  ul
    ul, ol
      :margin-left 1.5em

  ol
    ol, ul
      :margin-left 1.5em

  blockquote
    ul, ol
      :margin-left 1.5em

.permalink
  :font-size 11pt
  :position absolute
  :right 530px
  :text-align right

  a
    :color = !color_minor
    :white-space nowrap
    :padding 0 0 4.5pt 9pt

    &:hover
      :color = !color_text

.caption, .cite
  :font-size 11pt
  :margin-top 9pt

.caption p
  :margin-top 18pt

.text-post
  :position relative
  :top -2pt

  h3
    :margin-bottom 9pt

.link-post
  :position relative
  :top -2pt

  h3
    :display inline
    :padding-right 9pt

  a
    :color = !color_text

    &:hover
      :color = !color_secondary

    &.link
      :color = !color_link

      &:hover
        :color = !color_text
